
<div class="container text-left">
    
  <form [formGroup] = "usform" (ngSubmit) ="sendData()" novalidate>
      <!-- סוגריים עגולים שמורים לאיבנטים -->
      <div>
        <!--label+input-->
        <label for="name">Name</label>
        <input type="text" name="name" id="user" [(ngModel)]="selectedUser.name" class= "form-control" formControlName = "name" required onchange="check();">
        <div *ngIf="!usform.controls.name.valid && (usform.controls.name.dirty || usform.controls.name.touched)" class="errors">Please add Name</div>
      
      </div>
      
      <div>
      <label for="phonenumber">Phone Number</label>
        <input type="text" name="phonenumber" id="phonenumber" [(ngModel)]="selectedUser.phonenumber" class= "form-control" formControlName = "phonenumber" required>
        <div *ngIf="!usform.controls.phonenumber.valid && (usform.controls.phonenumber.dirty || usform.controls.phonenumber.touched)" class="errors">Please add Phone</div>
      
      </div>
      <!-- תרגיל 6 שם כפתור דינאמי-->
      <input type="submit" value="{{submitButtonText()}}" class="btn btn-primary" [disabled]="!usform.valid">
    

      </form>
    </div>