
    <h2>
        List of users
    </h2>
<div class="container">
    <table class="table table-hover text-left">
      <tr>
        <th class="col-sm-3">User Number</th>
        <th class="col-sm-3">Name</th>
        <th class="col-sm-3">Phone Number</th>

        
      </tr>
      <tr *ngFor = "let user of users">
          <td class="col-sm-3">{{user.id}}</td>
          <td class="col-sm-3">{{user.name}}</td>
          <td class="col-sm-3">{{user.phonenumber}}</td>
       
  
      </tr>
      </table>
    </div>

  