<h2>
  List of users
</h2>

<usersForm [selectedUser]="listUserSelection" (addUser)="optimisticAdd($event)" (addUserPs)="pessimisticAdd()"></usersForm>

 <div class="container">
  <table class="table table-hover text-left">
    <tr>
      <th class="col-sm-3">User Number</th>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Phone Number</th>
      <th class="col-sm-3"></th>
      <th class="col-sm-3"></th>
      
    </tr>
    <tr *ngFor = "let key of usersKeys">
      <td class="col-sm-3">{{key}}</td>
      <td class="col-sm-3">{{users[key].name}}</td>
      <td class="col-sm-3">{{users[key].phonenumber}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(key)">Delete</button></td>
      <td><button class="btn btn-primary" (click)="editUser(key)">Edit</button></td>

    </tr>
    </table>
  </div>
